header{
    border: $border;
    border-radius: $radius;
    margin-top: $martop;
    background-image: radial-gradient(circle, #505d70, #606580, #756b8e, #8f7097, #aa759a);
}



h1{
    font-family: Georgia, sans-serif;
    color: pink;
    font-size: 50px;
    text-align: $center;
    font-family: 'Dancing Script', cursive, Arial, sans-serif;

}
