header{
    background-image: url(../img/background-1507145_1920.jpg);
    height: 15rem;
}



h1{
    font-family: Georgia, sans-serif;
    color: black;
    font-size: 80px;
    text-align: $center;
    font-family: 'Dancing Script', cursive, Arial, sans-serif;
}

p{
    text-align: $center;
}